
  <div class="footer">
    <table style="width: 100%;">         
        <tr>
            <td style="width: 350px;">
                <table >
                    <tr>
                        <th>Coursero</th>
                        <th>Community</th>
                        <th>More</th>
                    </tr>
                    <tr>
                        <th><button type="button" class="butt" >About</button> </th>
                        <th><button type="button" class="butt" >Learners</button></th> 
                        <th><button type="button" class="butt" >Press</button></th>  
                    </tr>
                    <tr>
                        <th><button type="button" class="butt" >What We Offer</button> </th>
                        <th><button type="button" class="butt" >Partners</button></th> 
                        <th><button type="button" class="butt" >Investors</button></th>  
                    </tr>
                    <tr>
                        <th><button type="button" class="butt" >Leadership</button> </th>
                        <th><button type="button" class="butt" >Developers</button></th> 
                        <th><button type="button" class="butt" >Terms</button></th>  
                    </tr>
                    <tr>
                        <th><button type="button" class="butt" >Careers</button> </th>
                        <th><button type="button" class="butt" >Beta Testers</button></th> 
                        <th><button type="button" class="butt" >Privacy</button></th>  
                    </tr>
                    <tr>
                        <th><button type="button" class="butt" >Catalog</button> </th>
                        <th><button type="button" class="butt" >Translators</button></th> 
                        <th><button type="button" class="butt" >Help</button></th>  
                    </tr>
                    <tr>
                        <th><button type="button" class="butt" >Coursero Plus</button> </th>
                        <th><button type="button" class="butt" >Blog</button></th> 
                        <th><button type="button" class="butt" >Accessbility</button></th>  
                    </tr>
                    <tr>
                        <th><button type="button" class="butt" >Professional Cerificate</button> </th>
                        <th><button type="button" class="butt" >Tech Blog</button></th> 
                        <th><button type="button" class="butt" >Contact</button></th>  
                    </tr>
                    <tr>
                        <th><button type="button" class="butt" >Degrees</button> </th>
                        <th><button type="button" class="butt" >Teaching Center</button></th> 
                        <th><button type="button" class="butt" >Articles</button></th>  
                    </tr>
                    </table>
            </td>
        </tr>
        <hr>
        <tr>
            <th style="padding-top: 25px; padding-left: 30px;">© 2022 Coursero Inc. All rights reserved.</th>        
        </tr>
    </table>
  </div>