<body>
<app-header></app-header>
<br>
<p style="text-align:center"><span style="font-size:40px;font-style:oblique ;">Learn without limits</span><br />
    <br>
    
    <span style="font-size:16px">Get that &quot;ready for anything&quot; feeling with more than 5,000 courses, Professional Certificates, and degrees from world-class universities and companies.</span></p>
    <br>
    <p style="text-align:center"></p>
    
    <p style="text-align:center"></p>
    
    <p style="text-align:center"><span style="font-size:16px"><img src="C:\Users\Ziad\Documents\GitHub\Coursero-El-LearingSystem\Coursero\src\app\home-page\u91.png" alt="No Image"  style="height:530px; width:500px" /></span></p>


<app-footer></app-footer>
</body>