table{
    width: 100%;
}
th {
    font-size: xx-large;
    text-align: center;
}
td {
    text-align: center;
    padding-top: 10px;
}
button[type=button]:hover{
    text-decoration:underline;
}
.courseform {
    border-style: solid;
    width: 200px;
    height: 200px; 
    padding-left: 10px; 
    border-color: gray; 
    text-align: center; 
    margin:0 auto; 
    display:block;
}