<p style="text-align: center; font-size: 60px; "> WELCOME TO<br>COURSERO<br></p>

<div class="row">
  <div class="column1">
    <br><br><br><h1 style="color: #38A2A3; text-align: center;">Sign In to Coursero</h1>
    <div class="center-data">
      <br><br><label for="email">Email</label><br>
      <input style = "width: 250px;"type="email" id="email" name="email" #account><br><br>
      <label for="pass">Password</label><br>
      <input style="width: 250px;" type="password" id="pass" name="password" minlength="8" required #password><br>
      <label for="valid" style="color: red; text-align: center; font-size:small;">{{errorMessage}}</label><br><br>
      <input style= "margin-left: 15%; background-color: #38A2A3; color: white;border-color: white; border-color: gray;
                    border-style: solid; border-width: 1px; border-radius: 20px; " type="submit" value="Sign in" (click)="Login(account.value , password.value)" routerLink="/Home">
    </div>
  </div>

  <div class="column2">
    <br><br><br><h1 style="text-align: center; color: white;">Hello, Friend!</h1><br><br><br>
    <p style="text-align: center; color: white; font-size: larger;">Enter your personal details <br>and start journey with us</p>
    <br><br><button type="button" style="color:#38A2A3; background-color: white; border-radius: 15px; margin-left: 45%; border-color: gray;border-style: solid;border-width: 1px;">Sign Up</button>
  </div>

</div>