
<app-header></app-header>
<div class="row">
    <div class="column1">
        <h1 style="text-align: center;">Student</h1><hr>
        <table mat-table [dataSource]="dataSource_Students" class="mat-elevation-z8 demo-table">
  
            <!-- Name Column -->
             <ng-container matColumnDef="name">
               <th mat-header-cell *matHeaderCellDef>Name</th>
               <td mat-cell *matCellDef="let user">{{user.name}}</td>
               
             </ng-container>
          
             <!-- Account Column -->
             <ng-container matColumnDef="account">
               <th mat-header-cell *matHeaderCellDef>Account</th>
               <td mat-cell *matCellDef="let user">{{user.account}}</td>
             </ng-container>
           
             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr
                 mat-row
                 (click)="clicked_Student.has(row) ?  clicked_Student.delete(row) : clicked_Student.add(row)"
                 [class.demo-row-is-clicked]="clicked_Student.has(row)"
                 *matRowDef="let row; columns: displayedColumns;"
             ></tr>
           </table>
           <hr><br>
           <button type="button" id="delete1" style="margin:0 auto; display:block;" (click) = "delete('S',true)">Delete</button>
           <br>
    </div>
    <div class="column2">
      <h1 style="text-align: center;">Faculty</h1><hr>
      <table mat-table [dataSource]="dataSource_fuculty" class="mat-elevation-z8 demo-table">

          <!-- Name Column -->
           <ng-container matColumnDef="name">
             <th mat-header-cell *matHeaderCellDef>Name</th>
             <td mat-cell *matCellDef="let element">{{element.name}}</td>
           </ng-container>          
           <!-- mail Column -->
           <ng-container matColumnDef="account">
             <th mat-header-cell *matHeaderCellDef>Mail</th>
             <td mat-cell *matCellDef="let element">{{element.account}}</td>
           </ng-container> 
         
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr
               mat-row
               (click)="clicked_faculty.has(row) ?  clicked_faculty.delete(row) : clicked_faculty.add(row) "
               [class.demo-row-is-clicked]="clicked_faculty.has(row)"
               *matRowDef="let row; columns: displayedColumns;"
           ></tr>
         </table>
         <hr><br>
         <button type="button" id="delete2" style="margin:0 auto; display:block;" (click) = "delete('F',true)">Delete</button>
         <br>
  </div>
  <div class="column3">
      <h1 style="text-align: center;">New Accounts</h1><hr>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" #lol>

          <!-- Name Column -->
           <ng-container matColumnDef="name">
             <th mat-header-cell *matHeaderCellDef>Name</th>
             <td mat-cell *matCellDef="let element">{{element.name}}</td>
           </ng-container>
        
           <!-- mail Column -->
           <ng-container matColumnDef="account">
             <th mat-header-cell *matHeaderCellDef>Mail</th>
             <td mat-cell *matCellDef="let element">{{element.account}}</td>
           </ng-container>
          
         
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr
               mat-row
               (click)="clicked_Notverified.has(row) ?  clicked_Notverified.delete(row) : clicked_Notverified.add(row) "
               [class.demo-row-is-clicked]="clicked_Notverified.has(row)"
               *matRowDef="let row; columns: displayedColumns;"
           ></tr>
         </table>
         <hr><br>
         <button type="button" id="approve" style="margin:0 auto; display:block;" (click)="verify()">Approve</button> <br>
         <button type="button" id="delete3" style="margin:0 auto; display:block;" (click) = "delete('notverified',false)">Delete</button>
         <br>
  </div>
</div>
